body {
  margin: 0;
  font-family: 'Maleha', sans-serif;
  background-color: #D9D9D9;
  color: #1c1c1c;
  padding-top: 60px;
}

/* Navbar */
nav {
  background-color: #2d3b2d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 55px;
  justify-content: center; 
  align-items: center;
  z-index: 1000;
}

nav .logo {
  position: absolute;
  left: 40px;   
  color: #1c1c1c;
  background: #d9d9d9;
  padding: 5px 15px;
  border-radius: 25px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 150px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

nav .menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Home Section */

section {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #2d3b2d;
}

section p {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  text-indent: 0px;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

footer {
  background: #2d3b2d;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 40px;
}

h3 {
  font-size: 16px;
  font-weight: 50px;
}

#Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
  padding: 60px 20px;
  position: relative;
}

#Home h1 {
  font-size: 90px;
  font-weight: 900;
  transform: rotate(-10deg);
  letter-spacing: 5px;
  margin: 0;
  color: black;
  position: relative;
  z-index: 1;
}

#Home h1 span {
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: -25px;
  right: -35px;
  color: #2d3b2d;
  transform: rotate(10deg);
}

#Home h2 {
  font-size: 90px;
  font-weight: 900;
  transform: rotate(-10deg);
  letter-spacing: 5px;
  margin: 0;
  color: black;
  position: relative;
  z-index: 1;
}

#Home img {
  width: 650px;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  margin-top: -40px;
}

#Home .info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 70%;
  max-width: 900px;
  margin-top: 20px;
  margin-right: 65px;
  font-weight: 600;
  color: #2d3b2d;
}

html {
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
}